

<header>
    <h1 class='title'>{{title}}</h1>
   <ul>
       <li><a href="/">Weather</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/help">Help</a></li>   
   </ul>
    
    
</header>