<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>
<body>
    <div class="container">
         {{>header}}
         <div>
    <img src="./img/raining.jpg" alt="">
    <img src="./img/summy.jpg" alt="">
    </div>
     <div>
    <img src="./img/nature.jpg" alt="">
    <img src="./img/rose.jpg" alt="">
    </div>
    
    
   
    {{>footer}}
    </div>
</body>
</html>