<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Help</title>
</head>
<body>
    <div class="container">
         {{>header}}
  
    <p class="help">{{ok}}</p>
    <p class='text'>You	may	not	reverse	look-up,	trace	or	seek	to	trace	any	information	on	any	other	user	
of	or	visitor	to	the	Site,	or	any	other	customer	of	ours,	to	its	source,	or	exploit	the	Site	
or	any	service	or	information	made	available	or	offered	by	or	through	the	Site,	in	any	
way	where	the	purpose	is	to	reveal	any	information,	including	but	not	limited	to	
personal	identification	or	information,	other	than	your	own	information,	as	provided	for	
by	the	Site.</p>
    
   
    {{>footer}}
    </div>
</body>
</html>